<!DOCTYPE html>
<html>
<head>
    <title>CSS Layouting</title>
    <style>
    a {
        background-color: pink;
        width: 200px;
        height: 200px;
        display: inline-block;
    }
    </style>
    .main {
        background-color: lightgreen;
    }
    </style>
    </head>
    <body>